<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="main">
        <div class="navigation">
            <a href="<?= $this->referer ?>" class="btn btn-secondary">Abbrechen</a>
        </div>
        <form action="<?= $this->formAction ?>" method="post" name="video_edit">
            <input type="hidden" name="id" value="<?= $this->video->getId() ?>">
            <input type="hidden" name="form_submit" value="video_edit">
            <div class="form-row">
                <label for="videoTitle">Titel</label>
                <input type="text" name="title" id="videoTitle" value="<?= $this->video->getTitle() ?>">
            </div>
            <div class="form-row">
                <label for="videoLength">Länge</label>
                <input type="text" name="length" id="videoLength" value="<?= $this->video->getLength() ?>">
            </div>
            <div class="form-row">
                <label for="videoActors">Schauspieler</label>
                <input type="text" name="actors" id="videoActors" value="<?= $this->video->getActors() ?>">
            </div>
            <div class="form-row">
                <label for="videoSrc">Video</label>
                <input type="file" name="src" id="videoSrc" value="<?= $this->video->getSrc() ?>">
            </div>
            <div class="form-row">
                <button class="btn btn-primary" type="submit">Speichern</button>
            </div>
        </form>
    </div>
</body>
</html>