<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <?php
    $titlePrefix = '';
    if ('new' === $this->mode) {
        $titlePrefix = 'Neu - ';
    } else {
        $titlePrefix = 'Bearbeiten (' . $this->video->getTitle() . ') - ';
    }
    ?>
    <title><?= $titlePrefix ?>Simple Media Library</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <div id="main">
        <h1>
            <?php if ('new' === $this->mode): ?>
                Neuen Eintrag erstellen
            <?php else: ?>
                Eintrag "<?= $this->video->getTitle() ?>" bearbeiten
            <?php endif; ?>
        </h1>
        <?php if ($this->errorMsg): ?>
            <div id="errorMsg">
                <p><?= $this->errorMsg ?></p>
            </div>
        <?php endif; ?>
        <?php if (null !== $this->video): ?>
            <form action="<?= $this->formAction ?>" method="post" name="video_edit" enctype="multipart/form-data" id="editForm">
                <input type="hidden" name="id" value="<?= $this->video->getId() ?>">
                <input type="hidden" name="form_submit" value="video_edit">
                <div class="form-row">
                    <label for="videoTitle">Titel</label>
                    <input type="text" name="title" id="videoTitle" value="<?= $this->video->getTitle() ?>" required>
                </div>
                <div class="form-row">
                    <label for="videoLength">Länge in Sekunden</label>
                    <input type="text" name="length" id="videoLength" value="<?= $this->video->getLength() ?>" required>
                </div>
                <div class="form-row">
                    <label for="videoActors">Schauspieler</label>
                    <input type="text" name="actors" id="videoActors" value="<?= $this->video->getActors() ?>" required>
                </div>
                <div class="form-row">
                    <label for="videoSrc">Datei</label>
                    <input type="file" name="src" id="videoSrc" class="btn" accept="<?= $this->allowedTypes ?>">
                    <small>Unterstützte Datei-Formate: <?= implode(', ', explode(',', $this->allowedTypes)) ?></small>
                    <small>Maximale Dateigröße: <?= $this->maxSize ?> MB</small>
                    <?php if ($this->video->hasSrc()): ?>
                        <p>Aktuelle Datei: <?= $this->video->getFileName() ?></p>
                        <div id="videoContainer">
                            <?php if ($this->video->isVideo()): ?>
                                <video controls width="600px" src="/video/stream?id=<?= $this->video->getId() ?>"></video>
                            <?php else: ?>
                                <img src="/video/stream?id=<?= $this->video->getId() ?>" alt="<?= $this->video->getTitle() ?>">
                            <?php endif; ?>
                        </div>
                    <?php endif; ?>
                </div>
                <div class="form-row form-row-action">
                    <a href="/" class="btn" title="Abbrechen">Abbrechen</a>
                    <button class="btn" type="submit" title="Speichern">
                        <span>Speichern</span>
                    </button>
                </div>
            </form>
        <?php endif; ?>
    </div>
</body>
</html>